<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.devhack.dslanalyticsfirebase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSLAnalyticsFirebase">
        <activity android:name="co.devhack.dslanalyticsfirebase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="co.devhack.analytics.mixpanel.TOKEN"
            android:value="76723e3c62e3d4d45c030ae02c4fcdb3" />
    </application>

</manifest>
